body {
  @extend %Rubik-400;
  font-size: 16px;
  line-height: 1.9;
  color: $text;
  background-color: $white;
}

.container,
.container-lg {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1800px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.title {
  @extend %DMS-700;
  font-size: 36px;
  text-align: center;
  color: $title;
}

.logo--footer {
  display: block;
  margin-bottom: 23px;
}