body {
  @extend %Rubik-400;
  font-size: 16px;
  line-height: 1.9;
  color: $blueDianne;
  background-color: $white;
}

button {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--lg {
    max-width: 1800px;
  }
}

.body-hidden {
  overflow: hidden;

  .header__overlay {
    display: block;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.banner__heading,
.product-card__name,
.news__author,
.news__date,
.news__author,
.new-card__sub,
.news__sub {
  @include line-clamp(1);
}

.banner__title,
.banner__text p,
.banner__wrap p,
.bestseller__title,
.bestseller__text p,
.new-card__link {
  @include line-clamp();
}

.news__link,
.product-card__box p {
  @include line-clamp(3);
}

.title {
  @extend %DMS-700;
  font-size: 36px;
  text-align: center;
  color: $сodGray;
  margin-bottom: 10px;

  @include width-1200 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  @include width-415 {
    font-size: 20px;
    line-height: 1.1;
  }
}

.logo {
  height: 50px;
  width: 146px;

  &--header {
    margin-right: 165px;

    @include width-1200 {
      margin-right: 0;
    }

    @include width-568 {
      max-width: 130px;
    }
  }

  &--footer {
    display: block;
    margin-bottom: 19px;
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }
}

.btn {
  position: relative;
  width: 100%;
  padding: 14px 20px;
  @extend %Rubik-500;
  font-size: 15px;
  transition: color 0.2s ease-out, background-color 0.2s ease, box-shadow 0.2s ease;

  &--fill {
    max-width: 200px;
    color: $white;
    background-color: $casper;

    svg {
      fill: $white;
    }

    &:hover {
      background:
        linear-gradient(to right,
          rgba(#f9f9f9, 1) 50%,
          rgba(#f9f9f9, 0) 100%);
      color: $blueDianne;

      svg {
        fill: $blueDianne;
      }
    }

    &:active {
      background-color: $white;
    }

    @include width-568 {
      max-width: 160px;
      padding: 10px 15px;
    }
  }

  &--border {
    max-width: 180px;
    border: 1px solid rgba($blueBayoux, 0.4);
    border-radius: 5px;
    color: $blueBayoux;
    background-color: transparent;

    svg {
      fill: $blueBayoux;
    }

    &:hover {
      background-color: $blueBayoux;
      box-shadow: 1px -1px 4px 0px #221f1f;
      color: $white;

      svg {
        fill: $white;
      }
    }

    &:active {
      background-color: $casper;
      transform: scale(0.98);
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 9px;
  }
}