// двигаем футер в низ страницы
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

//--------------------

body {
  @extend %Rubik-400;
  font-size: 16px;
  line-height: 1.9;
  color: $blueDianne;
  background-color: $white;
}

button {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--lg {
    max-width: 1800px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features__title,
.product-card__link,
.news__author,
.news__date, 
.news__author {
  @include line-clamp(1);
}

.banner__title,
.banner__text p,
.features__box p,
.bestseller__title,
.bestseller__text p,
.new-card__link,
.contacts__item {
  @include line-clamp();
}

.news__link {
  @include line-clamp(3);
}

.title {
  @extend %DMS-700;
  font-size: 36px;
  text-align: center;
  color: $сodGray;

  @include width-1200 {
    font-size: 25px;
  }
}

.logo {
  height: 50px;
  width: 146px;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.logo--footer {
  display: block;
  margin-bottom: 13px;
}

.btn {
  position: relative;
  width: 100%;
  padding: 14px 20px;
  @extend %Rubik-500;
  font-size: 15px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out, ease, ease;
  transition-property: color, background, box-shadow;

  & svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 9px;
  }
}