$blueDianne: #243f4d;
$blueBayoux: #436372;
$casper: #a3bbc8;
$scorpion: #585858;
$gray: #8b8b8b;
$tundora: #414141;
$сodGray: #191919;
$ebonyClay: #222933;
$mineShaft: #262626;
$white: #ffffff;
$cello: #234969;
$portGore: #1f2044;
$boulder: #7b7b7b;
$mystic: #edf1f4;
$lightApricot: #fcd7b6;
$provincialPink: #fef7f0;
$halfSpanishWhite: #feefe2;
$alabaster: #f8f8f8;

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%DMS-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%DMS-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%DMS-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%Poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}