.contacts {
  padding: 118px 0 62px;

  @include width-1200 {
    padding-top: 80px;
  }

  @include width-823 {
    padding-top: 70px 0 20px;
  }

  &__sub {
    display: block;
    @extend %Poppins-700;
    color: $casper;
    line-height: 1.3;
    text-align: center;
  }

  &__title {
    margin-bottom: 59px;
    font-size: 35px;
    color: $blueBayoux;
    line-height: 1.6;

    @include width-1200 {
      font-size: 30px;
    }

    @include width-415 {
      font-size: 26px;
    }
  }

  &__elems {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 120px;

    @include width-823 {
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 65px;
    }
  }

  &__elem {
    max-width: 370px;
    width: 100%;
    min-height: 384px;
    padding: 70px 15px 20px;
    border: 2px solid transparent;
    color: $comet;
    text-align: center;
    background-color: #fbfbfb;
    transition: border-color 0.3s ease;

    @include width-823 {
      max-width: 259px;
      padding-top: 40px;
      min-height: 350px;
    }

    @include width-568 {
      max-width: 95%;
    }

    @include width-415 {
      max-width: 100%;
    }

    &:hover {
      border-color: $casper;

      .contacts__svg {
        background-color: $casper;

        svg {
          fill: $white;
        }
      }
    }
  }

  &__svg {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 49px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    transition: background-color 0.3s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 37px;
      height: 44px;
      fill: $casper;
      transition: fill 0.3s ease;
    }
  }

  &__heading {
    margin-bottom: 14px;
    @extend %DMS-700;
    font-size: 20px;
    line-height: 1.3;
    color: #222222;
  }

  &__link {
    &:hover {
      color: $portGore;
      text-decoration: underline;
    }

    &--modified {
      max-width: 170px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include width-1200 {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__form {
    max-width: 620px;
    width: 100%;

    .form__textbox {
      margin-bottom: 75px;

      @include width-1200 {
        margin-bottom: 35px;
      }
    }

    .form__label {
      text-transform: uppercase;
    }

    .form__fields {
      @include width-1200 {
        flex-wrap: wrap;
      }
    }

    .form__field {
      max-width: 300px;
      margin-bottom: 25px;

      @include width-1200 {
        max-width: 100%;
        margin-bottom: 20px;
      }
    }

    .form__input,
    .form__textarea {
      border: none;
      background-color: #fafafa;
    }

    .form__textarea {
      &::placeholder {
        text-transform: uppercase;
        padding-left: 8px;
      }
    }

    .form__btn {
      padding: 11px 44px;
      border-radius: 5px;
      @extend %Poppins-600;
      font-size: 15px;
      letter-spacing: 0;
    }
  }

  &__map {
    max-width: 500px;
    width: 100%;

    @include width-1200 {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }

  #map {
    width: 100%;
    height: 335px;
  }
}