.experience {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 122px;

    @include width-1200 {
      flex-direction: column;
      align-items: center;
      padding: 80px 0;
    }

    @include width-823 {
      justify-content: center;
      padding: 70px 0;
    }
  }

  &__wrap {
    // width: 100%;
    margin-right: 45px;

    @include width-1200 {
      margin-right: 0;
    }

    // @include width-823 {
    //   display: none;
    // }
  }

  &__img {
    width: 100%;
    height: 675px;
    object-fit: contain;

    @include width-1200 {
      object-fit: cover;
    }

    @include width-823 {
      height: 530px;
    }

    @include width-568 {
      height: 480px;
    }

    @include width-415 {
      height: 400px;
    }
  }

  &__about {
    max-width: 552px;
    width: 100%;
    padding-top: 65px;

    @include width-1200 {
      padding-top: 30px;
    }

    // @include width-823 {
    //   padding: 0;
    // }

    p {
      margin-bottom: 58px;

      @include width-1200 {
        margin-bottom: 35px;
      }
    }
  }

  &__suptitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    font-size: 16px;
  }

  &__years {
    margin-right: 10px;
    font-size: 140px;
    color: $casper;
    @extend %Rubik-700;
    line-height: 1;

    @include width-568 {
      font-size: 110px;
    }
  }

  &__sup {
    max-width: 110px;
    padding: 15px;
  }

  &__title {
    margin-bottom: 20px;
    color: $blueDianne;
    text-align: left;
  }

  &__achievements {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 32px;
    line-height: 1;

    @include width-1200 {
      justify-content: space-evenly;
      padding: 10px 0;
      text-align: center;
    }

    @include width-568 {
      flex-wrap: wrap;
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      max-width: 500px;
      width: 100%;
      height: 2px;
      background-color: $mystic2;
    }
  }

  &__element {
    position: relative;
    max-width: 150px;
    width: 100%;
    padding: 10px 0;

    @include width-1200 {
      max-width: initial;
    }

    @include width-568 {
      width: 50%;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -11%;
      width: 1px;
      height: 80px;
      background-color: $mystic2;

      @include width-1200 {
        top: auto;
        right: 0;
        bottom: 0;
      }

      @include width-568 {
        height: 30%;
      }
    }

    @include width-568 {
      &:nth-child(2)::after {
        right: 0;
        max-width: 500px;
        width: 50%;
        height: 1px;
        left: -100%;
        margin: 0 auto;
      }
    }
  }

  &__heading {
    position: relative;
    padding-left: 58px;

    @include width-1200 {
      padding: 60px 0 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 40px;
      height: 45px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include width-1200 {
        right: 0;
        margin: 0 auto;
      }
    }

    &--projects::before {
      background-image: url('../../../images/icons/projects.svg');
    }

    &--revenue::before {
      background-image: url('../../../images/icons/revenue.svg');
    }

    &--awards::before {
      background-image: url('../../../images/icons/awards.svg');
    }
  }

  &__num,
  &__stat {
    display: block;
    @extend %DMS-700;
    font-size: 36px;

    @include width-568 {
      font-size: 28px;
    }
  }

  &__word {
    font-size: 16px;
    line-height: 1.5;
    color: $tundora;

    @include width-568 {
      font-size: 14px;
    }
  }

  &__progress {
    background-color: $lightApricot;
    padding: 49px 0 75px;

    @include width-823 {
      padding: 0 0 25px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__caption {
    position: relative;
    padding-top: 100px;

    p {
      line-height: 1.3;

      @include width-1200 {
        margin: 0 auto;
        max-width: 170px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 35px;
      right: 0;
      left: 0;
      width: 75px;
      height: 65px;
      margin: auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--satisfied::before {
      background-image: url('../../../images/icons/satisfied.svg');
    }

    &--delivered::before {
      background-image: url('../../../images/icons/products-delivered.svg');
    }

    &--worked::before {
      background-image: url('../../../images/icons/daily-working-time.svg');
    }

    &--brands::before {
      background-image: url('../../../images/icons/brands-in-store.svg');
    }
  }

  &__descr {
    line-height: 1.3;
    @extend %DMS-700;
  }
}