.bestseller {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;

  @include width-1200 {
    flex-wrap: wrap;
    gap: 0;
  }

  &__item {
    width: 100%;

    @include width-1200 {
      &:nth-child(even) {
        .bestseller__inner:nth-child(2n+1) {
          flex-direction: row-reverse;
        }
      }
    }
    
    @include width-568 {
      &:nth-child(even) {
        .bestseller__inner:nth-child(2n+1) {
          flex-direction: column;
        }
      }
    }

    @include width-1200 {
      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: $halfSpanishWhite;
    margin: 0 auto;

    @include width-1200 {
      max-width: initial;
      justify-content: space-evenly;
    }

    @include width-568 {
      flex-direction: column;
    }
  }

  &__wrap {
    position: relative;
    top: -90px;
    width: 250px;
    height: 300px;

    @include width-568 {
      top: -40px;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include width-568 {
      height: 100%;
    }
  }

  &__title {
    max-width: 255px;
    margin-bottom: 15px;
    @extend %DMS-700;
    font-size: 26px;
    line-height: 1.2;
  }

  &__text {
    padding: 20px 10px;

    @include width-568 {
      padding: 15px 15px 50px;
    }

    p {
      max-width: 335px;
      margin-bottom: 26px;
    }
  }
}