.footer {
  font-size: 14px;
  color: $boulder;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 73px 0 56px;
    border-bottom: 1px solid #dae4e9;
    line-height: 1.7;

    @include width-1200 {
      flex-wrap: wrap;
    }

    @include width-823 {
      gap: 0;
      row-gap: 20px;
    }

    @include width-568 {
      justify-content: center;
    }
  }

  &__addres,
  &__inner {
    max-width: 200px;
    width: 100%;

    @include width-823 {
      max-width: 50%;
    }

    @include width-568 {
      max-width: 90%;
    }

    &:last-child {
      max-width: 270px;

      @include width-823 {
        max-width: 50%;
      }

      @include width-568 {
        max-width: 90%;
      }
    }
  }

  &__inner {
    padding-top: 22px;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %DMS-700;
    font-size: 16px;
    line-height: 1.3;
    color: $portGore;
    text-transform: uppercase;
  }

  &__items p {
    margin-bottom: 34px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 90px;

    @include width-823 {
      justify-content: center;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__link,
  &__ref {
    transition: color 0.2s ease-out, border 0.2s ease-out, transform 0.2s ease-out;
    border-bottom: 1px solid transparent;
  }

  &__link:hover,
  &__ref:hover {
    border-color: inherit;
    color: $сodGray;
    transform: scale(1.1);
  }

  &__elem {
    position: relative;
  }

  &__elem:not(:last-child) {
    margin-right: 32px;
  }

  &__elem:not(:first-child)::before {
    content: '|';
    position: absolute;
    left: -15px;
  }
}

.contacts {
  &__items {
    font-style: normal;
  }

  &__item {
    margin-bottom: 11px;
  }

  &__to {
    text-transform: uppercase;
  }

  &__link {
    display: inline;
    transition: color 0.2s ease-out, border 0.2s ease-out;
    border-bottom: 1px solid transparent;
  }

  &__link:hover {
    border-color: inherit;
    color: $сodGray;
  }
}

.form {
  display: flex;

  &__input,
  &__btn {
    @extend %DMS-400;
    min-height: 40px;
    height: 100%;
  }

  &__group {
    display: inline-block;
    position: relative;
    max-width: 170px;
    width: 100%;

    @include width-568 {
      max-width: 100%;
    }
  }

  &__input {
    width: 100%;
    padding: 8px 15px 9px;
    font-size: 12px;
    color: $cello;
    background-color: $provincialPink;
    outline-color: $cello;
  }

  &__label {
    position: absolute;
    left: 0;
    height: 12px;
    @extend %DMS-400;
    font-size: 12px;
    color: $cello;
    transform-origin: top left;
    transform: translate(15px, 10px) scale(1);
    transition: transform 0.3s ease;
    cursor: text;
  }

  &__group.active .form__label {
    transform: translate(0, -16px) scale(0.9);
  }

  &__input:focus,
  &__btn:focus {
    outline-style: solid;
  }

  &__btn {
    max-width: 100px;
    width: 100%;
    color: $white;
    background-color: $casper;
    padding: 7px 5px 9px;
    transition: background-color 0.2s ease-in-out;
  }

  &__btn:hover {
    background-color: $blueDianne;
  }
}