.new-card {
  display: block;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 246px;
  padding: 33px 0 0 35px;
  border-radius: 5px;
  background-color: $alabaster;

  &__name {
    max-width: 180px;
    margin-bottom: 5px;
    @extend %DMS-700;
    font-size: 20px;
    line-height: 1.3;
    color: $сodGray;
  }

  &__wrap {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 270px;
    max-height: 178px;
    overflow: hidden;

    @include width-568 {
      width: 230px;
      bottom: 10px;
    }
  }

  &__image {
    margin: 0 20px 0 auto;
    object-fit: contain;
  }
}