.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    border: 1px solid $casper;

    &--active {
      background-color: $casper;
      color: $white;
    }
  }

  &__link {
    line-height: 1;
    padding: 16px 20px;
    transition: color 0.3s linear, background-color 0.3s linear;

    @include width-568 {
      padding: 13px 16px;
    }

    &:not(.pagination__link--active):hover {
      background-color: $blueBayoux;
      color: $white;
    }
  }
}