.partners {
  background-color: $provincialPink;

  &__slider {
    padding: 87px 0 80px;

    @include width-568 {
      padding: 50px 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__img {
    height: 100px;
    object-fit: scale-down;
  }
}