.products {
  padding: 54px 0 30px;

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
  }

  &__item {
    max-width: 270px;
    width: 100%;
  }
}