.products {
  padding: 58px 0 30px;

  @include width-568 {
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 179px;
  }

  &__item {
    max-width: 270px;
    width: 100%;
  }
}