.bestseller {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include width-1200 {
    flex-wrap: wrap;
    gap: 0;
  }

  &__item {
    width: 100%;

    @include width-1200 {
      &:last-child {
        .bestseller__inner {
          flex-direction: row-reverse;
        }
      }

      &:first-child {
        margin-bottom: 70px;
      }
    }

    @include width-568 {
      &:last-child {
        .bestseller__inner {
          flex-direction: column;
        }
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: $halfSpanishWhite;
    margin: 0 auto;

    @include width-1200 {
      max-width: 100%;
      justify-content: space-evenly;
      padding: 0 5px;
    }

    @include width-568 {
      flex-direction: column;
    }
  }

  &__wrap {
    position: relative;
    top: -40px;
    left: 5px;
    max-width: 250px;
    width: 100%;
    height: 300px;

    @include width-1200 {
      left: 0;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    object-fit: contain;

    @include width-568 {
      height: 100%;
    }
  }

  &__title {
    max-width: 255px;
    margin-bottom: 15px;
    @extend %DMS-700;
    font-size: 26px;
    line-height: 1.2;
  }

  &__text {
    padding: 16px 10px 20px;

    @include width-568 {
      padding: 15px 15px 50px;
    }

    p {
      max-width: 335px;
      margin-bottom: 26px;
    }
  }
}