.blog-one {
  padding: 120px 0 31px;

  &__wrapper {
    display: flex;
  }

  &__content {
    position: relative;
    max-width: 830px;
    width: 100%;
    margin-right: 70px;

    @include width-1200 {
      margin-right: 20px;
    }

    @include width-823 {
      margin-right: 0;
    }

    .blog-article__wrap {
      margin-bottom: 22px;
    }

    .pagination {
      justify-content: flex-start;
    }
  }

  &__filters {
    max-width: 270px;

    @include width-823 {
      width: 100%;
    }
  }

  .filters-search {
    margin-bottom: 50px;
  }

  .filters-category {
    margin-bottom: 34px;
  }

  .blog-article__title {
    margin-bottom: 2px;
  }

  &__review {
    margin-bottom: 57px;

    h4 {
      font-weight: 500;
    }

    h4:nth-of-type(1) {
      margin-bottom: 15px;

      ~p {
        margin-bottom: 35px;
      }
    }

    h4:not(:first-child) {
      padding-top: 18px;
      margin-bottom: 12px;
      font-size: 18px;
    }

    blockquote {
      border-left: 6px solid $casper;
      padding: 17px 40px 17px 35px;
      background-color: $mystic;
      margin-bottom: 45px;

      @include width-823 {
        padding: 10px 15px;
      }

      p {
        margin-bottom: 7px;
      }

      cite {
        position: relative;
        padding-left: 45px;
        font-style: normal;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 3px;
          background-color: $casper;
        }
      }
    }

    .image {
      margin-bottom: 43px;

      img {
        max-width: 323px;

        @include width-568 {
          max-width: 100%;
          width: 100%;
        }
      }

      .left-image {
        float: left;
        margin-right: 28px;

        @include width-823 {
          margin-right: 10px;
        }
      }

      .right-image {
        float: right;
        margin-left: 28px;

        @include width-823 {
          margin-left: 10px;
        }
      }
    }
  }

  &__comments {
    margin-bottom: 83px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin-bottom: 60px;
    border-top: 2px solid $mystic;
    border-bottom: 2px solid $mystic;

    @include width-823 {
      margin-bottom: 20px;
    }

    @include width-568 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__compiler {
    display: flex;
    max-width: 600px;
    width: 100%;

    @include width-568 {
      margin-bottom: 15px;
    }
  }

  &__pic {
    width: 75px;
    height: 75px;
    margin-right: 29px;
    object-fit: cover;

    @include width-1200 {
      margin-right: 15px;
    }
  }

  &__author {
    display: inline-flex;
    flex-direction: column;
    max-width: 250px;
    margin-right: 10px;
  }

  &__name {
    padding-top: 10px;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 1.4;
  }

  &__position {
    color: #666666;
  }

  &__data {
    display: inline-flex;
    flex-direction: column;
    max-width: 210px;
    width: 100%;
  }

  &__wrap {
    display: inline-flex;
    justify-content: space-between;
  }

  &__capture {
    max-width: 100px;
    margin-right: 10px;
    color: $mineShaft2;
  }

  &__list {
    display: inline-flex;
    align-items: baseline;
    max-width: 145px;
    width: 100%;
  }

  &__tag-item {
    margin-right: 3px;
  }

  &__link {
    color: $dustyGray2;
    transition: color 0.3s ease;

    &:hover {
      color: $blueBayoux;
      text-decoration: underline;
    }

    svg {
      vertical-align: middle;
      width: 15px;
      height: 15px;
      fill: $dustyGray2;
      transition: fill 0.3s ease;

      &:hover {
        fill: $blueBayoux;
      }
    }
  }

  &__share-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__status,
  &__title {
    display: block;
    margin-bottom: 50px;
    @extend %Rubik-700;
    font-size: 24px;
    line-height: 1.5;
    color: $blueBayoux;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__element {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 84%;
      height: 1px;
      background-color: $alto;

      @include width-568 {
        width: 100%;
      }
    }
  }

  &__form {
    margin-bottom: 40px;
  }
}