.blog-article {
  &__item {
    &:not(:last-child) {
      margin-bottom: 51px;
    }
  }

  &__wrap {
    position: relative;
    height: 100%;
    margin-bottom: 22px;
    overflow: hidden;
  }

  &__img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include width-568 {
      height: 350px;
    }

    @include width-415 {
      height: 300px;
    }
  }

  &__base {
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 275px;
    width: 100%;
    padding: 20px 30px;
    background-color: $casper;

    @include width-1200 {
      padding: 10px 15px;
    }
  }

  &__date {
    margin-right: 15px;
  }

  &__date,
  &__author {
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: $white;

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: 8px;
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__date::before {
    background-image: url('../../images/icons/calendar-blog.svg');
  }

  &__author::before {
    background-image: url('../../images/icons/user-blog.svg');
  }

  &__text {
    p {
      margin-bottom: 34px;
    }
  }

  &__title {
    @extend %Rubik-400;
    font-size: 36px;
    color: $mineShaft2;
    text-align: left;
    margin-bottom: 11px;

    @include width-1200 {
      font-size: 28px;
    }

    @include width-568 {
      font-size: 22px;
    }
  }

  &__btn {
    max-width: 180px;
    border: 1px solid $casper;
    color: $casper;

    svg {
      fill: $casper;
    }
  }
}